# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
env/
pip-wheel-metadata/
*.log

# ExcelTimeToGCal
credentials.json
token.json
config.ini
*.sh

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db